:root {
  --primary-color: #e4eff0;
  --secondary-color: #001827;
  --primary-button-color: #4e7988;
  --secondary-button-color: #78cce2;
  --accent-color: #005066;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  flex-direction: column;
}

.header-right {
  display: flex;
  align-items: center;
}

body {
  margin: 0; 
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

header p {
  font-size: 14px;
  margin: 0;
}

.btn {
  margin: 2%;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--primary-button-color);
}

.btn-info {
  background-color: var(--primary-button-color);
}

.btn-light {
  background-color: #f8f9fa;
  color: #000;
}

footer {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 20px;
  margin-top: auto;
}
