:root {
  --primary-color: #e4eff0;
  --secondary-color: #001827;
  --primary-button-color: #4e7988;
  --secondary-button-color: #78cce2;
  --accent-color: #005066;
}
.flex-column {
  background-color: rgba(85, 81, 81, 0.082);
}
.main {
  min-height: 100vh;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  flex-direction: column;
}

.header-right {
  display: flex;
  align-items: center;
}

body {
  margin: 0; 
  height: 100%
}

.content {
  flex: 1;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 80vh;
}

header {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

header p {
  font-size: 14px;
  margin: 0;
}

.btn {
  margin: 2%;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--primary-button-color);
  
}
.btn:hover{
  cursor: pointer;
}


.btn-info {
  background-color: var(--primary-button-color);
}

.btn-light {
  background-color: #f8f9fa;
  color: #000;
}

footer {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 20px;
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
}


.footer {
  flex-shrink: 0;
}

#potentialCrewMemberDiv{
  border-radius: 25px;
}

.bg-photo {
  background-image: url(../../assets/home-background.jpg);
  width: 100%;
  height: 1000%;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;

}

.card {
  display: block;
  width: 300px;
  height: 300px;
justify-content: center;
  float: left;

}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;

}

.front,
#back0, #back2 {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
  margin-top: 400px;
  margin: 200px;

}



#hunter {
  background-image: url(../../assets/hunter.jpg);
margin-left: -140PX;

}


#back0 {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
  margin-left: 140px;

}
  


#warrior {
  background-image: url(../../assets/warrior.jpg);
margin-left: -80px;
margin-top: 0%

}
#back1 {
  background: #03446A;

  transform: rotateY( 180deg );
  position: relative;
  height: 100%;
  width: 100%;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
 margin-left: 80px;
 z-index: 10px;
 margin-top: -133%;
}

#astro {
  background-image: url(../../assets/astro.jpg);
margin-left: -20px;
}

#back2 {
  background: #03446A;
  transform: rotateY( 180deg );
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
  margin-left: 20px;

}

#hustler {
background-image: url(../../assets/hustler.jpg);
}

#back3 {
  display: flexbox;
  background: #03446A;
  
  transform: rotateY( 180deg );
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
 margin-left: -30px;
}

