:root {
  --primary-color: #e4eff0;
  --secondary-color: #001827;
  --primary-button-color: #4e7988;
  --secondary-button-color: #78cce2;
  --accent-color: #005066;
}

.flex-column {
  background-color: rgba(85, 81, 81, 0.082);
}

.main {
  min-height: 100vh;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 1%;
  margin: 1%;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Voltaire', sans-serif;
}

.content {
  flex: 1;
}

.container-main {
  margin-top: -21px;
  height: 800px;
  background-color: var(--accent-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -21px;
}

.bg-primary {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  align-items: center;
  padding: 15px;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  width: 100%;
}


.header {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  margin: 1%;
  width: 80%;
}

header h1 {
  color: var(--primary-color);
  font-size: 36px;
}

header p {
  font-size: 14px;
  padding: 10px;
}

/* Signup/login page */


.card {
  margin-top: -100px;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.card-header {
  background-color: #343a40;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  transition: border-color 0.2s ease-in-out;
}

.form-control:focus {
  outline: none;
  border-color: #80bdff;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.text-danger {
  color: #dc3545;
}

.text-white {
  color: #fff;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.p-3 {
  padding: 1rem;
}

.bg-danger {
  background-color: #dc3545;
}

.btn {
  margin: 2%;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--primary-button-color);

}

.btn:hover {
  cursor: pointer;
}


.btn-info {
  background-color: var(--primary-button-color);
}

.btn-light {
  background-color: #f8f9fa;
  color: #000;
}

footer {
  position: fixed;
  bottom:100%;
  background-color: var(--secondary-color);
  color: #fff;
  margin-top: 50%;
  height: auto;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: flex-start;
}

.footer {
  flex-shrink: 0;
}

#potentialCrewMemberDiv {
  border-radius: 25px;
}

.bg-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: url(../../assets/home-background.jpg);
  background-size: cover;
  background-position: center;
}

.card {
  display: block;
  width: 300px;
  height: 300px;
  justify-content: center;
  float: left;

}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);

}

.front,
#back0,
#back2 {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #0a90de;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  backface-visibility: hidden;
  margin-top: 400px;
  margin: 200px;
  background-color: black;
  opacity: 1;
}



#hunter {
  background-image: url(../../assets/hunter.jpg);


}


#back0 {
  color: white;
  transform: rotateY(180deg);
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 300px;
  color: #0a90de;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  backface-visibility: hidden;
  margin-left: -200px;
  background-color: black;
  opacity: 1;
}



#warrior {
  background-image: url(../../assets/warrior.jpg);

  margin-top: 0%
}

#back1 {

  background-color: black;
  opacity: 1;
  transform: rotateY(180deg);
  position: relative;
  height: 100%;
  width: 100%;
  line-height: 300px;
  color: #0a90de;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  backface-visibility: hidden;
  z-index: 10px;
  margin-top: -133%;
  margin-left: -200px;
}

#astro {
  background-image: url(../../assets/astro.jpg);

}

#back2 {
  background-color: black;
  opacity: 1;
  transform: rotateY(180deg);
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 300px;
  color: #0a90de;

  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  backface-visibility: hidden;
  margin-left: -200px;


}

#hustler {
  background-image: url(../../assets/hustler.jpg);

}

#back3 {
  display: flexbox;
  background-color: black;
  opacity: 1;
  transform: rotateY(180deg);
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 300px;
  color: #0a90de;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  backface-visibility: hidden;
  margin-left: -200px;
  margin-top: 200px;

}

.creation {
  background-color: var(--accent-color);
  background-blend-mode: hard-light;
  height: 10000;
  margin-bottom:20%;
}

#displayCaptainDiv,
#captainNameInput,
.backgroundSelector,
#displayCaptainDiv,
#chooseOneDiv,
#chooseTwoDiv,
#chooseCorePowers,
#chooseGeneralPowers {
  color: rgb(255, 255, 255);
  margin-left: 24%;
}

#captainNameSubmitButton,
#captainBackgroundSubmitButton,
button {
  background-color: rgb(255, 255, 255);
}



.Cardback {
  background-color: black;
  width: 450px;
  margin-left: 450px;
  border-radius: 24px;
  text-align: left;
  background-image: url(../../);
  opacity: 0.7;
}

#backgroundDiv {
  background-color: black;
  width: 350px;
  border-radius: 24px;
  padding-left: 96px;
  margin-left: 24%;
  opacity: 0.7;
  color: rgb(252, 252, 252);

}

.Cardback1 {
  background-color: black;
  width: 350px;
  border-radius: 24px;
  padding-left: 96px;
  margin-left: 250px;
  opacity: 0.7;

}

.Cardback2 {

  width: 345px;
  border-radius: 24px;
  padding-left: 175px;
  margin-top: 12px;
  padding-top: 12px;
  padding-bottom: 20px;
  opacity: 0.8;
}

.Cardback3 {
  background-color: black;
  width: 450px;
  margin-left: 450px;
  border-radius: 24px;
  text-align: left;
  padding-bottom: 20px;
  opacity: 0.7;
}

.captNameForm {
  width: 450px;
  margin: 0 auto;
  border-radius: 24px;
  text-align: left;
  padding-bottom: 20px;
  opacity: 0.7;
}